<mat-grid-list [cols]="colsFirstGrid" [rowHeight]="heightRowFirstGrid" gutterSize="0px" style="background-image: url('../../assets/img/7.png'); background-size: cover;">
    <mat-grid-tile>
        <div class="location">
            <span class="location-title">Ubícanos:</span>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3827381579276!2d-74.0389044243833!3d4.7033929416329014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9aac86deeaa5%3A0x28e17b8a172cb0a!2sCl.%20126%20%2311b-91%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1717480152312!5m2!1ses!2sco"
                width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="social-section"
            style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
            <span class="social-title">Redes Sociales</span>
            <div class="social-buttons">
                <a href="https://www.facebook.com/profile.php?id=61560423728167" class=" btn-social" aria-label="Facebook">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/rlmingenieriayconcreto/" class=" btn-social" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/company/rlm-ingenieria-y-concreto/about/" class=" btn-social" aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://wa.me/573002136449" class=" btn-social" aria-label="Whatsapp">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>