<section #carouselContainer>
  <div class="calidad">
    <h3 style="text-align: center;">TIPOS DE ASESORIAS</h3>
    <h4 style="text-align: center; color:#C57D56;">SERVICIOS</h4>
    <div class="slider">
      <div class="slide">
        <img src="./../../../assets/fla-1.png" alt="Photo1" />
      </div>
      <div class="slide">
        <img src="./../../../assets/fla-2.png" alt="Photo3" />
      </div>
      <div class="slide">
        <img src="./../../../assets/fla-3.png" alt="Photo2" />
      </div>
      <button class="btn-slide prev"><i class="fas fa-3x fa-chevron-circle-left"></i></button>
      <button class="btn-slide next"><i class="fas fa-3x fa-chevron-circle-right"></i></button>
    </div>
    <div class="dots-container">
      <span class="dot active" data-slide="0"></span>
      <span class="dot" data-slide="1"></span>
      <span class="dot" data-slide="2"></span>
      <span class="dot" data-slide="3"></span>
    </div>
  </div>
</section>
