 <section class="contact">
            <div class="contact_us container">
                <h1 class="titles">Envianos un correo</h1>
                <form>
                    <div class="input-wrap">
                        <input type="text" placeholder="Your Name*">
                        <input type="email" placeholder="Your Email*">
                    </div>
                    <div type="text" class="input-wrap-2">
                        <input type="text" placeholder="Your Subject...">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message..."></textarea>
                    </div>
                    <div>
                        <button class="send_message"> Send Message </button>
                    </div>
                </form>

            </div>
        </section>
