<section class="contact my-5">
    <div class="contact_us container">
        <h1 class="titles">Contáctenos</h1>
        <form class="my-3" action="https://formsubmit.co/ronaldwilf@gmail.com" method="POST">
            <div class="input-wrap">
                <input type="text" name="name" placeholder="Tu nombre completo">
                <input type="email" name="email" placeholder="tucorreo@gmail.com">
            </div>
            <div type="text" class="input-wrap-2">
                <textarea name="" id="" cols="30" rows="10" name="message"
                    placeholder="Escribe tu mensaje..."></textarea>
            </div>


            <div class="row">
                <div class="col-6">
                    <div class="my-4">
                        <label for="" class="preguntas">1. ¿Cuál es la necesidad o el dolor más importante que enfrenta actualmente en su producción
                            de concreto?</label>
                        <select class="form-select my-3" aria-label="Default select example">
                            <option selected>Selecciona una opción</option>
                            <option value="1">Variabilidad en la calidad del concreto</option>
                            <option value="2">Altos costos operativos</option>
                            <option value="3">Desperdicio de materiales</option>
                            <option value="4">Falta de personal capacitado</option>
                            <option value="5">Optimización de mezclas</option>
                            <option value="6">Optimización de mezclas</option>
                            <option value="7">Otro</option>
                        </select>
                        <div type="text" class="input-wrap-2 my-3">
                            <textarea name="" id="" cols="30" rows="10" name="necesidad_especifica"
                                placeholder="Especifica tu necesidad..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="my-4">
                        <label for="" class="preguntas">2. ¿Está interesado en recibir asesoría técnica o capacitación para mejorar sus procesos de
                            producción de concreto?</label>
                        <select class="form-select my-3" aria-label="Default select example">
                            <option selected>Selecciona una opción</option>
                            <option value="1">Asesoría técnica</option>
                            <option value="2">Capacitación</option>
                            <option value="3">Asesoría técnica y Capacitación</option>
                        </select>
                    </div>
                </div>
            </div>
           
             <div class="row">
                <div class="col-6">
                    <div >
                        <label for="" class="preguntas">3. ¿Qué le gustaría recibir en nuestras asesorías técnicas?</label>
                        <label for="" class="preguntas">(Seleccione las áreas de interés)</label>
                        <div class="my-3">
                            <div class="form-check form-switch my-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                    checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Optimización de procesos</label>
                            </div>
        
                            <div class="form-check form-switch my-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                    checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Control de calidad y
                                    verificación</label>
                            </div>
                            <div class="form-check form-switch my-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                    checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Innovación en tecnologías de
                                    producción</label>
                            </div>
                            <div class="form-check form-switch my-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                    checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Reducción de costos y mejora
                                    operativa</label>
                            </div>
                            <div class="form-check form-switch my-3">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                    checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Cumplimiento de normativas y
                                    estándares</label>
                            </div>
                            <div class="form-check form-switch my-3"><input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckChecked" checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Otro(especifique)</label>
                            </div>
                            <div type="text" class="input-wrap-2">
                                <textarea name="" id="" cols="30" rows="10" name="contenido_acesoria"
                                    placeholder="Especifica tu necesidad..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div>
                        <label for="" class="preguntas">4. ¿Cuál es su expectativa principal al trabajar con RLM Ingeniería y Concreto?</label>
                        <label for="" class="preguntas">(Describa brevemente lo que le gustaría lograr)</label>
                        <div type="text" class="input-wrap-2 my-3">
                            <textarea name="" id="" cols="30" rows="10" name="necesidad_especifica"
                                placeholder="Especifica tu necesidad..."></textarea>
                        </div>
                    </div>
                </div>
             </div>
           
           
            <div class="d-flex justify-content-center">
                <button id="submitButton" name="submit" type="submit" class="send_message btn btn-primary">Enviar
                    correo</button>
            </div>
            <input type="hidden" name="_next" value="http://localhost:4200">
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>
</section>