/* BOTON WHATSAAP*/


.whatsapp-button {
    display: flex;
    justify-content: center;
    background-color: #25d366;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    position: fixed;
    bottom: 15%;
    right: 25px;
    transition: background-color 0.3s ease;
    width: 60px;
    height: 60px;
    align-items: center;
    font-size: x-large;
  }

  .whatsapp-button:hover {
    background-color: #128C7E; /* Color de fondo al pasar el ratón */
  }