:root {
    --gris-oscuro: #424242;
    --gris-claro: #AEAEAE;
    --dg-1: linear-gradient(to right, #FAFAFA, #BFBFBF);
    --choco-oscuro: #8D4925;
    --choco-claro: #C57D56;
  }

header {
    background: var(--dark);
    height: 75vh;
    min-height: 400px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0% 90%);
}

.div-nav {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en los extremos */
    align-items: center; /* Centra verticalmente */
    background-color: linear-gradient(to right, #FAFAFA, #BFBFBF) !important;
    padding: 10px;
    height: 80px;
}

.brand-logo {
    display: flex;
    align-items: center; /* Centra verticalmente */
    text-decoration: none;
    color: #fff;
}

.brand-logo img {
    max-width: 12rem; /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

#nav-mobile {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-mobile li {
    margin-right: 20px; /* Espacio entre los elementos de la lista */
}

#nav-mobile li a {
    text-decoration: none;
    color: var(--gris-oscuro) !important;
}


.div-nav .nav-wrapp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}