<!-- nav-bar.component.html -->
<nav #asDivNav class="div-nav">
  <div class="nav-wrapp">
    <a href="#" class="brand-logo left">
      <img src="../../../assets/imagetipo.png" alt="Logo">
    </a>
    <ul id="nav-mobile" class="right">
      <li><a href="#" appScrollToTop>Inicio</a></li>
      <li><a href="#who-we-are">Sobre Nosotros</a></li>
      <li><a href="#our-services">Servicios</a></li>
      <li><a href="#our-values">Nuestros Valores</a></li>
      <li><a href="#flayers">Ventajas</a></li>
      <li><a href="https://wa.me/573002136449">Contacto</a></li>
    </ul>
  </div>
  <button mat-fab id="toggle-menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>
