
<!-- app.component.html -->
<app-nav-bar/>
<app-header></app-header>
<app-who-we-are id="who-we-are"></app-who-we-are>
<app-our-services id="our-services"></app-our-services>
<app-our-values id="our-values"></app-our-values>
<app-flayers id="flayers"></app-flayers>
<app-comment-and-video></app-comment-and-video>
<app-footer></app-footer>
<app-contact-form></app-contact-form>
<footer class="bg-dark text-center text-white mt-2 py-3" >
  <p class="mb-0" style="font-size: .8rem !important;">© 2024. Todos los derechos reservados.</p>
</footer>
