<div class="fondo-video">
    <div class="container" >
        <div class="row py-5 min-height: 560px;" style="display: flex; align-items: center;">
           
            <div class="col-md-6" style="display: flex; align-items: center; justify-content: center;">
                <!-- Video de la empresa -->
                <div class="embed-responsive embed-responsive-9by16">
                    <iframe class="embed-responsive-item" style="height: 500px; width: 100%;" src="../../../assets/video-tuto.mp4"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" style="display: flex; align-items: center; flex-direction: column; justify-content: space-around; gap: 20px;">
                <!-- Comentarios de clientes -->
            
                <div class="testimony_item">
                    <div class="testimony_person">
                        <img src="../../../assets/logo-k.png" class="testimony_img">
                        <div class="testimon_texts">
                            <h5 class="testimony_name">Kyron Pharmaceutical</h5>
                            <p class="testimony_verification">Productos Farmaceuticos</p>
                        </div>
                    </div>
                    <p class="testimony_review">"RLM supervisó técnicamente las actividades de rehabilitación del piso industrial y el nuevo acondicionamiento de oficinas y baños."</p>
                </div>
            
                <div class="testimony_item">
                    <div class="testimony_person">
                        <img src="../../../assets/grupo terra.PNG" class="testimony_img">
                        <div class="testimon_texts">
                            <h5 class="testimony_name">Morano Terra</h5>
                            <p class="testimony_verification">Empresa</p>
                        </div>
                    </div>
                    <p class="testimony_review">"Gracias a rlmingenieriayconcreto por el aporte de conocimientos durante esta conferencia."</p>
                </div>
            
            </div>
            
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>