<div class="container">
  <div class="row">
      <div class="col-md-4">
          <!-- Comentarios de clientes -->
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Comentario 1</h5>
                  <p class="card-text">Este es un comentario de un cliente satisfecho.</p>
              </div>
          </div>
          <div class="card mt-3">
              <div class="card-body">
                  <h5 class="card-title">Comentario 2</h5>
                  <p class="card-text">Otro comentario positivo de un cliente.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <!-- Video de la empresa -->
          <div class="embed-responsive embed-responsive-9by16">
              <iframe class="embed-responsive-item" style="width: 100%;" src="../../../assets/video-tuto.mp4" allowfullscreen></iframe>
          </div>
      </div>
      <div class="col-md-4">
          <!-- Comentarios de clientes -->
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Comentario 3</h5>
                  <p class="card-text">Un cliente más compartiendo su experiencia.</p>
              </div>
          </div>
          <div class="card mt-3">
              <div class="card-body">
                  <h5 class="card-title">Comentario 4</h5>
                  <p class="card-text">Comentario adicional de un cliente.</p>
              </div>
          </div>
      </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

