<div class="container">
    <div class="text-container">
        <h1 class="title">NUESTRA EMPRESA</h1>
        <h2 class="subtitle">QUIENES SOMOS</h2>
    </div>
    <div class="grid-container">
        <mat-grid-list cols="2" rowHeight="400px">
            <mat-grid-tile>
                <div class="first-grid-item image-container">
                    <img src="assets/img/5.png" alt="Descripción de la imagen">
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="first-grid-item content-container">
                    <div class="image-wrapper">
                        <img src="assets/img/imagetipo.png" alt="Descripción de la segunda imagen">
                    </div>
                    <p class="description">
                        En Ingeniería y Concreto RLM, nos dedicamos a la asesoría técnica integral en la producción de
                        concreto premezclado, enfocándonos en la calidad y optimización de procesos para garantizar la
                        excelencia y rentabilidad de nuestros clientes. Con una visión innovadora y un compromiso con
                        los estándares más altos, ofrecemos soluciones concretas que construyen el futuro.
                    </p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="grid-container-second">
        <mat-grid-list cols="3" rowHeight="300px">
            <mat-grid-tile>
                <div class="second-grid-item">
                    <app-information-card fontIcon="visibility"></app-information-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="second-grid-item">
                    <app-information-card fontIcon="eyeglasses"></app-information-card>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="second-grid-item">
                    <app-information-card></app-information-card>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
