.containerGeneral {
    width: 100% !important;
    background: linear-gradient(to bottom right, #F2F2F2, #E6E6E6);
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        width: 35%;
        height: 80%;
        background-color: #3f3f3f;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top-right-radius: 20px;
        transition: height 0.3s ease;
    }
}

.text-container {
    text-align: center;
    position: absolute;
    top: 5%;
    width: 100%;
}

.title {
    font-family: "Lexend", sans-serif;
    font-size: 2.5em;
    color: black;
    margin: 0;
    font-weight: 500;
}

.subtitle {
    font-family: "Lexend", sans-serif;
    font-size: 2em;
    color: #C67C56;
    margin: 0;
    font-weight: 500;
}

.grid-container {
    margin-top: 17%;
}

.first-grid-item {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    text-align: center;
}

.image-container img {
    max-width: 80%;
    object-fit: cover;
    margin-left: -2%;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 22%;
}

.image-wrapper {
    max-width: 50%;
    margin-bottom: 20px;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

.description {
    font-family: 'Lexend', sans-serif;
    font-size: 0.9em;
    color: #333;
    margin-top: 0;
    text-align: justify;
    font-weight: 500;
}

.grid-container-second {
    width: 100%;
}

.second-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .containerGeneral::before {
        height: calc(80% + 15%);
        background-color: #949494;

    }

    .text-container {
        top: 1%;
    }
    .content-container {
        margin: 5%;
    }
    .description {
        color: #000000;
    }
    
}
